In [6]:
# DEPENDENCIES AND SETUP 
import pandas as pd

In [7]:
# specifying csv path
csv_path_ride = "./Resources/ride_data.csv"
csv_path_city = "./Resources/city_data.csv"

In [8]:
# read_csv reads the csv file
read_csv_ride = pd.read_csv(csv_path_ride)
read_csv_city = pd.read_csv(csv_path_city)

In [9]:
# creating data frame 
ride_df = pd.DataFrame(read_csv_ride)
ride_df
ride_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344

In [10]:
city_df = pd.DataFrame(read_csv_city)
city_df
city_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [11]:
# converting data frame to html file called "ride_data_table.html"
# set index as false
ride_df.to_html('ride_data_table.html',index=False)

In [12]:
# converting data frame to html file called "city_data_table.html"
# set index as false
city_df.to_html('city_data_table.html',index=False)